/* links externos */
a[rel=external]:after{ content: "↗"; }

body{
 max-width:40em;
 margin:0 auto;
 font-size:20px;
 padding: 1em;
 font-family:sans-serif;
}

footer{
 font-size: x-small;
 padding-top:2em;
}

footer img{
 margin:0;
}

pre{
 background-color: #fee;
 padding:1em;
 overflow-x: auto;
}

blockquote{
 font-style: italic;
}

main h1{
 margin-top: 1.5em;
 font-size: xx-large;
}
main h2{
 font-size: x-large;
 margin-left:0.3em;
}
main h3{
 font-size: larger;
 margin-left:1em;
}

gallery{
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 justify-content:space-evenly;
 align-content:center;
}
img{
 margin:10px;
 border-radius:5px;
 max-width: 320px;
}

nav{ font-size:smaller; }
nav li{ padding:0.2em; }
main li{  padding:0.5em; }

th,td{
 border-style:ridge;
 padding:5px;
}

/* desktop */
@media screen and (min-width: 600px) {
  nav li{
	display:inline;
  }
  img{ max-width: 100%; }
}
